:root{
    font-size: 62.5%;
}

body{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8rem;
    background-color: #d2e3da;
}

#minha-foto{
    width: 300px;
    display: block;
    margin: 0 auto;

    transform: rotate(30deg);
}

#titulo-principal{
    font-size: 3.4rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

h3{
    font-size: 2.3rem;
}

a{
    font-weight: 600;
    text-decoration: none;
}

#trybe{
    color:#036b52;
    background-color: #2fc18c;

}

p{
    text-align: center;
}

em{
    background-color: #6aad8b80;
}

ul{
    /* list-style-type: none; */
    list-style: none;
    padding: 10px;
}

.ponto-destaque{
    font-size: 2rem;
}

div.container{
    /* border: 3px solid red; */
    width: 500px;
    margin: 0 auto;
    position: relative
}

.container .habilidades, .redes{
    /* border: 3px solid blue; */
    display: inline-block;
    width: 30%;
}

.container .redes{
    position: absolute;
    right:0px;

}